+include-style('cart')
//- +include-script('map')
+include-script('cart')
//- .cart-empty
//- 	.cart-empty__title Ваша корзина пуста
//- 	.cart-empty__descr Вы ничего у нас не покупали? Все просто - сюда будут попадать товары, которые Вы покупаете,нажав на кнопку “В корзину” на карточке любого товара. После того, как вы выберите нужные товары, то можете снова перейти на эту страницу, чтобы увидеть заказ целиком и перейти к оформлени.
//- 	.cart-empty__link
//- 		a(href="#").btn.btn--primary Перейти в каталог
//- br
//- br
//- br
mixin cart-product(args={})
    .cart-product
        .cart-product__image
            +lazy-img({
                img: args.img,
                placeholder: pixel,
                img_mod: '',
                wrap_mod: '',
                link: false,
                aria_label: false,
            })
        .cart-product__content
            .cart-product__title= args.title
        .cart-product__prop
            .cart-product__type
                .cart-product__type-prop Масса:
                .cart-product__type-val.active 100
                .cart-product__type-val 2000
            .cart-product__type
                .cart-product__type-prop Степень помола:
                .cart-product__type-val.active Не обжаривать
        .cart-product__price
            .price= args.cost
            if(args.old)
                .price--old= args.old

        .cart-product__counter
            .counter.btn-wave
                span.counter__action.counter__action--minus
                input.counter__count(type="text" value="1" maxlength="6")
                span.counter__action.counter__action--plus

        .cart-product__totalprice
            .price= args.price
            if(args.old)
                .price--old= args.old
        .cart-product__control
            .cart-product__control-item
                +icon('i-close')(style="width:18px; height:18px")
.cart
    .rowblock
        .rowblock__left
            .cart-form__block(x-data="{expand: true}")
                .cart-form__header
                    .cart-form__title Товары в корзине
                    .cart-form__toggler(@click="expand=!expand")
                        span



                .cart-products.cart-form__section
                    +cart-product({
                        img: 'product.png',
                        title: 'Танзания Мбинга Килиманджаро АА',
                        price: '12 740 ₽',
                        cost: '154.12 руб/шт'
                    })
                    +cart-product({
                        img: 'product.png',
                        title: 'Танзания Мбинга Килиманджаро АА',
                        old: '145.34 руб.',
                        price: '123.74 руб.',
                        cost: '154.12 руб/шт'
                    })
                    +cart-product({
                        img: 'product-tea.png',
                        title: 'Матча (Маття) Изумруд',
                        price: '123 руб.',
                        cost: '154.12 руб/шт'
                    })

            form.cart-form
                .cart-form__block(x-data="{expand: true}")
                    .cart-form__header
                        .cart-form__title Покупатель
                        .person-type
                            +radio({
                                mod: 'form-group--person-type'
                            })(checked name="person-type")
                                .person-type__label Физическое лицо
                            +radio({
                                mod: 'form-group--person-type'
                            })( name="person-type")
                                .person-type__label Юридическое лицо
                        .cart-form__toggler(@click="expand=!expand")
                            span

                    .cart-form__section
                        .cart-form__form
                            .cart-form__field.cart-form__field--2
                                +input({
                                    label: 'Ф.И.О.',
                                    fg_mod: 'form-group--margin',
                                    label_mod: 'form-control-label--small',
                                    type: 'text',
                                    name: false,
                                    small: false,
                                    placeholder: '',
                                    required: true,
                                    validation: {
                                        message: 'Заполните поле',
                                        regexp: 'Неверный формат',
                                        emailaddress: ' ',
                                        identical: false
                                    }
                                })

                            .cart-form__field.cart-form__field--2
                                +input({
                                    label: 'Телефон',
                                    fg_mod: 'form-group--margin',
                                    label_mod: 'form-control-label--small',
                                    type: 'tel',
                                    name: false,
                                    small: false,
                                    placeholder: '+375 (__) ___-__-__',
                                    required: true,
                                    pattern: 'phone',
                                    validation: {
                                        message: 'Заполните поле',
                                        regexp: 'Неверный формат',
                                        emailaddress: ' ',
                                        identical: false
                                    }
                                })
                            .cart-form__field.cart-form__field--2
                                +input({
                                    label: 'Местоположение*',
                                    fg_mod: 'form-group--margin',
                                    label_mod: 'form-control-label--small',
                                    type: 'text',
                                    name: false,
                                    small: false,
                                    placeholder: 'Введите название города',
                                    required: true,
                                    validation: {
                                        message: 'Заполните поле',
                                        regexp: 'Неверный формат',
                                        emailaddress: ' ',
                                        identical: false
                                    }
                                })
                            .cart-form__field.cart-form__field--2
                                +input({
                                    label: 'Email',
                                    type: 'email',
                                    label_mod: 'form-control-label--small',
                                    fg_mod: 'form-group--margin',
                                    name: false,
                                    small: false,
                                    placeholder: 'example@example.com',
                                    required: true,
                                    pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
                                    validation: {
                                        message: 'Заполните поле',
                                        regexp: 'Неверный формат',
                                        emailaddress: ' ',
                                        identical: false
                                    }
                                })
                            .policy-block
                                +checkbox({
                                    mod: '',
                                    label: 'Я согласен на <a href="#"> обработку персональных данных</a>',
                                    value: '',
                                    name: 'policy',
                                    required: true,
                                })(checked)

                        //.cart-form__more
                        //    button.btn Продолжить
                .cart-form__block-grid
                    .cart-form__block(x-data="{expand:true}")

                        .cart-form__header
                            .cart-form__title Способ доставки
                            .cart-form__toggler
                                span
                        .cart-form__delivery
                            .cart-form-radio
                                +radio({
                                    mod: 'cart-form-radio__header'
                                })(name="delivery-type")
                                    .cart-form-radio__label Самовывоз
                                .cart-form-radio__body


                                    .cart-form__delivery-descr Вы можете самостоятельно забрать заказ из нашего офиса-кофейни Blackmill в г. Минске
                                    .cart-city-picker
                                        +select({
                                            title: 'г. Минск, ул. Белинского 23',
                                            with_links: true,
                                            list: [
                                                {name: 'г. Минск, ул. Белинского 23', active: true},
                                                {name: 'г. Минск, ул. Казинца 36'},
                                                {name: 'г. Минск, ул. Ленина 2'},
                                            ]
                                        })



                            .cart-form-radio
                                +radio({
                                    mod: 'cart-form-radio__header'
                                })(name="delivery-type")
                                    .cart-form-radio__label Доставка курьером
                                    .cart-form-radio__cost 6 руб.
                                .cart-form-radio__body
                                    .cart-form__delivery-descr Доставка курьером по г. Минску от 1 до 2 дней. Укажите в комментарии желаемое время доставки
                                    .cart-city-picker
                                        +input({
                                            fg_mod: 'form-group--margin',
                                            label_mod: 'form-control-label--small',
                                            type: 'text',
                                            label: 'Адрес доставки',
                                            name: false,
                                            small: false,
                                            placeholder: 'Введите название',
                                            required: true,
                                            validation: {
                                                message: 'Заполните поле',
                                                regexp: 'Неверный формат',
                                                emailaddress: ' ',
                                                identical: false
                                            }
                                        })
                            .cart-form-radio
                                +radio({
                                    mod: 'cart-form-radio__header'
                                })(name="delivery-type")
                                    .cart-form-radio__label Доставка Белпочтой
                                    .cart-form-radio__cost Бесплатно
                                .cart-form-radio__body

                                    .cart-form__delivery-descr Доставка в ближайшее отделении Белпочты от 1 до 3 дней
                                        .cart-form__delivery-post
                                            +input({
                                                fg_mod: 'form-group--margin',
                                                label_mod: 'form-control-label--small',
                                                type: 'text',
                                                label: 'Индекс',
                                                name: false,
                                                small: false,
                                                placeholder: '',
                                                required: true,
                                                validation: {
                                                    message: 'Заполните поле',
                                                    regexp: 'Неверный формат',
                                                    emailaddress: ' ',
                                                    identical: false
                                                }
                                            })
                                            +input({
                                                fg_mod: 'form-group--margin',
                                                label_mod: 'form-control-label--small',
                                                type: 'text',
                                                label: 'Город',
                                                name: false,
                                                small: false,
                                                placeholder: '',
                                                required: true,
                                                validation: {
                                                    message: 'Заполните поле',
                                                    regexp: 'Неверный формат',
                                                    emailaddress: ' ',
                                                    identical: false
                                                }
                                            })
                                            +input({
                                                fg_mod: 'form-group--margin',
                                                label_mod: 'form-control-label--small',
                                                type: 'text',
                                                label: 'Улица, дом, квартира',
                                                name: false,
                                                small: false,
                                                placeholder: '',
                                                required: true,
                                                validation: {
                                                    message: 'Заполните поле',
                                                    regexp: 'Неверный формат',
                                                    emailaddress: ' ',
                                                    identical: false
                                                }
                                            })
                            .cart-form-radio
                                +radio({
                                    mod: 'cart-form-radio__header'
                                })(name="delivery-type")
                                    .cart-form-radio__label Доставка DPD
                                    .cart-form-radio__cost 5.27 руб.
                                .cart-form-radio__body

                                    .cart-form__delivery-descr Доставка посылки курьером DPD до двери получателя (Минск) дн. 3 (DPD EXPRESS)
                            .cart-form-radio
                                +radio({
                                    mod: 'cart-form-radio__header'
                                })(name="delivery-type")
                                    .cart-form-radio__label Яндекс-доставка (до 45 минут)
                                    .cart-form-radio__cost 9 руб.
                                .cart-form-radio__body

                                    .cart-form__delivery-descr Работает только по г. Минску, после оплаты картой. Необходимо уточнить наличие кофе в офисе перед оплатой



                            //.cart-form__more
                            //    button.btn Продолжить
                    .cart-form__block(x-data="{expand:true}")
                        .cart-form__header
                            .cart-form__title Способ оплаты
                                .cart-form__toggler
                                    span
                        .cart-form__pay
                            .cart-form-radio
                                +radio({
                                    mod: 'cart-form-radio__header'
                                })(name="payment-type")
                                    .cart-form-radio__label Оплата через ЕРИП (скидка 2%)
                                .cart-form-radio__body
                                    .cart-form__delivery-descr В вашем интернет-банкинге в разделе "Платежи": Система Расчет ЕРИП -> Интернет-магазины и сервисы -> A-Z -> R -> Roast.by, введите ваш номер заказа и оплатите его.
                                    .policy-block
                                        +checkbox({
                                            mod: '',
                                            label: 'Внутренний счет - <b>13,40 руб.</b>',
                                            value: '',
                                            name: 'score',
                                            required: true,
                                        })
                            .cart-form-radio
                                +radio({
                                    mod: 'cart-form-radio__header'
                                })(name="payment-type")
                                    .cart-form-radio__label Оплата наличными

                            .cart-form-radio
                                +radio({
                                    mod: 'cart-form-radio__header'
                                })(name="payment-type")
                                    .cart-form-radio__label QR-платежи "Оплати" (скидка 3%)
                            .cart-form-radio
                                +radio({
                                    mod: 'cart-form-radio__header'
                                })(name="payment-type")
                                    .cart-form-radio__label Оплата картой при получении
                            .cart-form-radio
                                +radio({
                                    mod: 'cart-form-radio__header'
                                })(name="payment-type")
                                    .cart-form-radio__label Оплата банковской картой онлайн (Google Pay)
                        //.cart-form__more
                        //    button.btn Продолжить
                        //

        .rowblock__right
            .cart-checkout-sticky
                .cart-checkout-wrap
                    .cart-checkout
                        .cart-checkout__title Ваш заказ
                        .cart-checkout__total-line
                            .cart-checkout__d Доставка:
                            .cart-checkout__t Самовывоз
                        .cart-checkout__total-line
                            .cart-checkout__d Оплата:
                            .cart-checkout__t Оплата через ЕРИП
                        .cart-checkout__promo
                            +input({
                                fg_mod: '',
                                placeholder: 'Введите промокод',
                                type: 'text',
                                name: false,
                                small: false,
                                required: true,
                                validation: {
                                    message: 'Заполните поле',
                                    regexp: 'Неверный формат',
                                    emailaddress: ' ',
                                    identical: false
                                }
                            })
                            button.cart-checkout__promo-submit
                        .cart-checkout__promo-list
                            .cart-checkout__promo-item
                                .cart-checkout__promo-item-name dsfsdf dsfs aad
                                .cart-checkout__promo-item-status
                                    span.outin-stock не найден
                                    .cart-checkout__promo-item-remove
                                        +icon('i-close')(style="width:10px; height:10px")
                            .cart-checkout__promo-item
                                .cart-checkout__promo-item-name.in-stock dsfsdf
                                .cart-checkout__promo-item-status
                                    span.in-stock найден
                                    .cart-checkout__promo-item-remove
                                        +icon('i-close')(style="width:10px; height:10px")
                        .cart-checkout__total-line
                            .cart-checkout__d Внутренний счет:
                            .cart-checkout__t 13,40 руб.
                        .cart-checkout__total-line
                            .cart-checkout__d Ваша скидка 5%:
                            .cart-checkout__t 10 руб.
                            .tip
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <circle cx="7.61523" cy="7.5" r="6.75" stroke="#D9D9D9" stroke-width="1.5"/>
                                <line x1="7.5957" y1="5.96594" x2="7.5957" y2="11.3353" stroke="#ACACAC" stroke-width="1.5"/>
                                <line x1="7.5957" y1="3.6648" x2="7.5957" y2="5.19889" stroke="#ACACAC" stroke-width="1.5"/>
                                </svg>
                                .tip__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nulla provident eveniet numquam vitae quisquam.
                        .cart-checkout__total-line
                            .cart-checkout__d Промокод:
                            .cart-checkout__t 5 руб.
                        .cart-checkout__total-line.cart-checkout__total-line--totals
                            .cart-checkout__d Итого:
                            .cart-checkout__t 245.30 руб. <span class="sale">248.30 руб.</span>
                            .cart-checkout__sale
                                span Общая экономия 28.40руб.
                        .cart-checkout__submit
                            .btn Оформить заказ
                        a(href="#").cart-checkout__back
                            +icon('i-checkout')(style="width:15px; height:15px")
                            span Назад в каталог

                    .cart-checkout__info(x-data="{show:true}" x-show="show" x-transition)
                        .cart-checkout__info-close(@click="show=false")
                            +icon('i-close')(style="width:10px; height:10px")

                        .cart-checkout__info-icon
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="25" viewBox="0 0 17 25" fill="none">
                            <path d="M9.30273 24.0698H7.94291V20.8175H9.30273V24.0698Z" fill="#BB2749"/>
                            <path d="M14.2461 22.9749L13.0522 23.6836L11.5631 20.7091L12.757 20.0004L14.2461 22.9749Z" fill="#BB2749"/>
                            <path d="M5.68359 20.7086L4.19451 23.6831L3.0006 22.9744L4.48967 19.9999L5.68359 20.7086Z" fill="#BB2749"/>
                            <path d="M17 17.1064L15.2739 12.6684V6.77378C15.2739 3.0387 12.2352 0 8.5001 0C4.76482 0 1.72612 3.0387 1.72612 6.77378V12.6684L0 17.1064H5.6756V17.2435C5.6756 18.8007 6.94267 20.0678 8.5001 20.0678C10.0573 20.0678 11.3244 18.8007 11.3244 17.2435V17.1064H17ZM3.20682 6.77378C3.20682 3.8552 5.58132 1.48069 8.5001 1.48069C11.4187 1.48069 13.7932 3.8552 13.7932 6.77378V12.0671H3.20682V6.77378ZM2.97295 13.5478H14.027L14.8353 15.6257H2.16474L2.97295 13.5478ZM9.84371 17.2435C9.84371 17.9844 9.24083 18.5871 8.5001 18.5871C7.75917 18.5871 7.15629 17.9844 7.15629 17.2435V17.1064H9.84352V17.2435H9.84371Z" fill="#BB2749"/>
                            </svg>
                        .cart-checkout__info-text Вы можете воспользоваться средствами внутреннего счета выбрав способ оплаты