+include-style('index-banners')
+include-script('index-banners')

.index-banners
	.container
		+splide({
			mod: 'index-banners__slider js-splide-banners'
		})
			+splide-slide()
				.ib-slide
					a(href="#full_link").ib-slide__link
					picture
						source(srcset=SITE_TEMPLATE_PATH + 'images/index-banners-bg-1.jpg' media='(min-width: 768px)')
						source(srcset=SITE_TEMPLATE_PATH + 'images/index-banners-bg-1-sm.jpg' media='(min-width: 426px)')
						source(srcset=SITE_TEMPLATE_PATH + 'images/index-banners-bg-1-xs.jpg' media='(min-width: 0px)')
						img.ib-slide__bg(src=SITE_TEMPLATE_PATH + 'images/index-banners-bg.jpg' alt='banner-bg')
					.ib-slide__inner
						.ib-slide__content
							a(href="#title").ib-slide__title Велосипеды<br> для движения в городе
							.ib-slide__text Покоряйте новые территории на велосипедах! Горные, складные, городские или двухподвесные — найдется все.
							.ib-slide__btns
								a(href="#btn1").btn.btn-lg.btn-wave Выбрать
								a(href="#btn2").btn.btn-lg.btn-white.btn-wave Узнать о скидках
						.ib-slide__img-wrap
							picture
								source(srcset=SITE_TEMPLATE_PATH + 'images/index-banners-1.png' media='(min-width: 768px)')
								source(srcset=pixel media='(min-width: 0px)')
								img.ib-slide__img(src=SITE_TEMPLATE_PATH + 'images/index-banners-1.png' alt='banner')
			+splide-slide()
				.ib-slide.ib-slide--light
					a(href="#full_link").ib-slide__link
					picture
						source(srcset=pixel data-srcset=SITE_TEMPLATE_PATH + 'images/index-banners-bg-2.jpg' media='(min-width: 768px)')
						source(srcset=pixel data-srcset=SITE_TEMPLATE_PATH + 'images/index-banners-bg-2-sm.jpg' media='(min-width: 426px)')
						source(srcset=pixel data-srcset=SITE_TEMPLATE_PATH + 'images/index-banners-bg-2-xs.jpg' media='(min-width: 0px)')
						img.ib-slide__bg(src=pixel data-src=SITE_TEMPLATE_PATH + 'images/index-banners-bg.jpg' alt='banner-bg')
					.ib-slide__inner
						.ib-slide__content
							a(href="#title").ib-slide__title Неделя скидок<br> на детские товары
							.ib-slide__text Мягкие и развивающие игрушки, коляски, автокресла и другие товары по сниженным ценам. Только до конца недели. Не упустите выгоду!
							.ib-slide__btns
								a(href="#btn1").btn.btn-lg.btn-wave Успеть купить
						.ib-slide__img-wrap
							picture
								source(srcset=pixel data-srcset=SITE_TEMPLATE_PATH + 'images/index-banners-2.png' media='(min-width: 768px)')
								source(srcset=pixel data-srcset=pixel media='(min-width: 0px)')
								img.ib-slide__img( src=pixel data-src=SITE_TEMPLATE_PATH + 'images/index-banners-2.png' alt='banner')
			+splide-slide()
				.ib-slide
					a(href="#full_link").ib-slide__link
					picture
						source(srcset=pixel data-srcset=SITE_TEMPLATE_PATH + 'images/index-banners-bg-1.jpg' media='(min-width: 768px)')
						source(srcset=pixel data-srcset=SITE_TEMPLATE_PATH + 'images/index-banners-bg-1-sm.jpg' media='(min-width: 426px)')
						source(srcset=pixel data-srcset=SITE_TEMPLATE_PATH + 'images/index-banners-bg-1-xs.jpg' media='(min-width: 0px)')
						img.ib-slide__bg(src=pixel data-src=SITE_TEMPLATE_PATH + 'images/index-banners-bg.jpg' alt='banner-bg')
					.ib-slide__inner
						.ib-slide__content
							a(href="#title").ib-slide__title Велосипеды<br> для движения в городе
							.ib-slide__text Покоряйте новые территории на велосипедах! Горные, складные, городские или двухподвесные — найдется все.
							.ib-slide__btns
								a(href="#btn1").btn.btn-lg Выбрать
								a(href="#btn2").btn.btn-lg.btn-white Узнать о скидках
						.ib-slide__img-wrap
							picture
								source(srcset=pixel data-srcset=SITE_TEMPLATE_PATH + 'images/index-banners-1.png' media='(min-width: 768px)')
								source(srcset=pixel data-srcset=pixel media='(min-width: 0px)')
								img.ib-slide__img(src=pixel data-src=SITE_TEMPLATE_PATH + 'images/index-banners-1.png' alt='banner')