+include-style('footer')
+include-style('form-mixin')
+include-script('footer')

-
	//- var footer = [
	//- 	{
	//- 		no_link: false,
	//- 		title: 'каталог',
	//- 		list: ['Кофе','Чай','Аксессуары','Зеленый кофе','Гранола','Капсулы','Дрип-пакеты','Оборудование']
	//- 	},
	//- 	{
	//- 		title: 'Услуги',
	//- 		list: ['Аренда кофемашин', 'Брендированный кофе', 'Оптовые поставки']
	//- 	},
	//- 	{
	//- 		active: true,
	//- 		title: 'Информация',
	//- 		list: ['Компания', 'Опт', 'Статьи']
	//- 	},
	//- ]

footer.footer
	.container
		.footer__inner
			.footer__left
				//- .footer__left-top
				//- 	.subscribe-block
				//- 		.subscribe-block__left Подписаться <br> на новости и акции
				//- 		form.subscribe-block__right
				//- 			input(type="email" placeholder='E-mail').form-control
				//- 			button.btn.btn-wave Подписаться
				.footer__left-bottom
					//- each item in footer
					//- 	.footer__left-item(
					//- 		x-data="{ width: window.innerWidth, breakpoint: 767, isOpened: window.innerWidth > 767 }"
					//- 		@resize.window.debounce.100="width = window.innerWidth; isOpened = width > breakpoint"
					//- 		:class="isOpened ? 'opened' : ''"
					//- 		)
					//- 		if(item.no_link)
					//- 			.footer__left-item-title(@click="isOpened = !isOpened")
					//- 				span=item.title
					//- 				+icon('i-arrow-down')(style="width:7px;height:5px")
					//- 		else
					//- 			.footer__left-item-title(@click="isOpened = !isOpened")
					//- 				a(href="#" class=item.active ? 'active' : '')=item.title
					//- 				+icon('i-arrow-down')(style="width:7px;height:5px")
					//- 		ul.footer__left-item-list
					//- 			each i in item.list
					//- 				li
					//- 					a(href="#")=i

					.footer__left-item
						.footer__left-item-opened(
							x-data="{ width: window.innerWidth, breakpoint: 767, isOpened: window.innerWidth > 767 }"
							@resize.window.debounce.100="width = window.innerWidth; isOpened = width > breakpoint"
							:class="isOpened ? 'opened' : ''"
							)
							.footer__left-item-title(@click="isOpened = !isOpened")
								span каталог
								+icon('i-arrow-down')(style="width:7px;height:5px")
							ul.footer__left-item-list
								li
									a(href="#") Кофе
								li
									a(href="#") Чай
								li
									a(href="#") Аксессуары
								li
									a(href="#") Зеленый кофе			
								li
									a(href="#") Гранола
								li
									a(href="#") Капсулы
								li
									a(href="#") Дрип-пакеты
								li
									a(href="#") Оборудование
					.footer__left-item
						.footer__left-item-opened(
							x-data="{ width: window.innerWidth, breakpoint: 767, isOpened: window.innerWidth > 767 }"
							@resize.window.debounce.100="width = window.innerWidth; isOpened = width > breakpoint"
							:class="isOpened ? 'opened' : ''"
							)
							.footer__left-item-title(@click="isOpened = !isOpened")
								a(href="#" class='active') Услуги
								+icon('i-arrow-down')(style="width:7px;height:5px")
							ul.footer__left-item-list
								li
									a(href="#") Аренда кофемашин
								li
									a(href="#") Брендированный кофе
								li
									a(href="#") Оптовые поставки
						.footer__left-item-opened(
							x-data="{ width: window.innerWidth, breakpoint: 767, isOpened: window.innerWidth > 767 }"
							@resize.window.debounce.100="width = window.innerWidth; isOpened = width > breakpoint"
							:class="isOpened ? 'opened' : ''"
							)
							.footer__left-item-title(@click="isOpened = !isOpened")
								a(href="#") Информация
								+icon('i-arrow-down')(style="width:7px;height:5px")
							ul.footer__left-item-list
								li
									a(href="#") Компания
								li
									a(href="#") Опт
								li
									a(href="#") Статьи
			.footer__right
				.footer__title Контакты
				.footer__info
					.footer__item 
						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
							<path d="M15.3604 12.8538C15.3604 13.1015 15.3053 13.3561 15.1884 13.6038C15.0714 13.8515 14.92 14.0855 14.7205 14.3056C14.3833 14.6772 14.0117 14.9456 13.592 15.1176C13.1791 15.2896 12.7319 15.3791 12.2502 15.3791C11.5483 15.3791 10.7983 15.2139 10.007 14.8768C9.2157 14.5396 8.42439 14.0855 7.63997 13.5143C6.84866 12.9363 6.09863 12.2964 5.38302 11.5877C4.67428 10.8721 4.03435 10.122 3.46323 9.33761C2.899 8.55318 2.44485 7.76875 2.11457 6.9912C1.78428 6.20678 1.61914 5.45675 1.61914 4.74114C1.61914 4.27323 1.70171 3.82597 1.86685 3.41311C2.032 2.99338 2.29347 2.60804 2.65816 2.264C3.09854 1.8305 3.58021 1.61719 4.0894 1.61719C4.28207 1.61719 4.47473 1.65847 4.64676 1.74104C4.82566 1.82362 4.98392 1.94747 5.10778 2.12638L6.70416 4.37645C6.82801 4.54847 6.91747 4.70673 6.97939 4.85811C7.04132 5.00261 7.07573 5.14711 7.07573 5.27785C7.07573 5.44299 7.02756 5.60813 6.93123 5.7664C6.84178 5.92466 6.71104 6.0898 6.5459 6.25494L6.02294 6.79854C5.94725 6.87423 5.91285 6.96368 5.91285 7.07378C5.91285 7.12882 5.91973 7.17699 5.93349 7.23204C5.95413 7.28708 5.97478 7.32837 5.98854 7.36966C6.1124 7.59673 6.32571 7.89261 6.62847 8.25042C6.93811 8.60823 7.26839 8.97292 7.6262 9.33761C7.99777 9.7023 8.35558 10.0395 8.72027 10.3491C9.07808 10.6519 9.37396 10.8583 9.60791 10.9822C9.64232 10.9959 9.68361 11.0166 9.73177 11.0372C9.78682 11.0578 9.84187 11.0647 9.9038 11.0647C10.0208 11.0647 10.1102 11.0234 10.1859 10.9477L10.7089 10.4317C10.8809 10.2597 11.046 10.1289 11.2043 10.0463C11.3626 9.95001 11.5208 9.90184 11.6928 9.90184C11.8236 9.90184 11.9612 9.92937 12.1126 9.99129C12.264 10.0532 12.4222 10.1427 12.5942 10.2597L14.8718 11.8767C15.0507 12.0005 15.1746 12.145 15.2503 12.3171C15.3191 12.4891 15.3604 12.6611 15.3604 12.8538Z" stroke="#757575" stroke-width="1.5" stroke-miterlimit="10"/>
							<path d="M12.9728 6.43567C12.9728 6.02282 12.6494 5.38977 12.1677 4.8737C11.7273 4.39891 11.1425 4.02734 10.5645 4.02734" stroke="#757575" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M15.3811 6.43385C15.3811 3.77092 13.2274 1.61719 10.5645 1.61719" stroke="#757575" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						a(href="tel:+375333003334") +375 33 300-33-34
					.footer__item 
						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 20 19" fill="none">
							<path d="M1.61914 8.00112C1.61914 5.50112 3.07628 4.42969 5.262 4.42969H12.5477C14.7334 4.42969 16.1906 5.50112 16.1906 8.00112V13.0011C16.1906 15.5011 14.7334 16.5725 12.5477 16.5725H5.262" stroke="#757575" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M12.9527 8.47656L10.4188 9.77596C8.90504 10.5004 8.90504 10.5004 7.38313 9.77596L4.85742 8.47656" stroke="#757575" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M0.808594 14.1445H4.85621" stroke="#757575" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M0.808594 10.9062H2.42764" stroke="#757575" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						a(href="mailto:info@roast.by") info@roast.by
					.footer__item
						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 20 21" fill="none">
							<path d="M8.5 11.45C10.0533 11.45 11.3125 10.174 11.3125 8.6C11.3125 7.02599 10.0533 5.75 8.5 5.75C6.9467 5.75 5.6875 7.02599 5.6875 8.6C5.6875 10.174 6.9467 11.45 8.5 11.45Z" stroke="#757575" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M8.5 20C12.25 16.2 16 12.7974 16 8.6C16 4.40264 12.6421 1 8.5 1C4.35786 1 1 4.40264 1 8.6C1 12.7974 4.75 16.2 8.5 20Z" stroke="#757575" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						span г. Минск, ул. Белинского 23 (вход в кофейню BlackMill)
					.footer__item 
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
							<path d="M16.5 9C16.5 13.14 13.14 16.5 9 16.5C4.86 16.5 1.5 13.14 1.5 9C1.5 4.86 4.86 1.5 9 1.5C13.14 1.5 16.5 4.86 16.5 9Z" stroke="#757575" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M11.7827 11.3853L9.45766 9.99781C9.05266 9.75781 8.72266 9.18031 8.72266 8.70781V5.63281" stroke="#757575" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						.footer__item-group
							span Время работы: пн-пт с 8:00 до 20:00, сб-вск с 9:00 до 21:00 (самовывоз)
							span Заказы через сайт — круглосуточно.
					.footer__socials
						ul.footer__socials-list
							li
								a(href="#" target="_blank")
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
										<rect x="0.3125" width="30" height="30" rx="15" fill="#484848"/>
										<path d="M9.00284 14.7455L11.8426 15.8054L12.9418 19.3404C13.0121 19.5668 13.289 19.6504 13.4727 19.5002L15.0557 18.2098C15.2216 18.0746 15.4579 18.0678 15.6313 18.1937L18.4864 20.2665C18.683 20.4094 18.9615 20.3017 19.0108 20.0642L21.1023 10.0037C21.1561 9.74427 20.9011 9.52781 20.6541 9.62337L8.99951 14.1193C8.7119 14.2303 8.71441 14.6375 9.00284 14.7455ZM12.7647 15.2412L18.3146 11.823C18.4144 11.7617 18.517 11.8966 18.4314 11.976L13.851 16.2337C13.69 16.3836 13.5862 16.5841 13.5567 16.8018L13.4007 17.9581C13.38 18.1125 13.1632 18.1278 13.1206 17.9784L12.5205 15.8699C12.4518 15.6294 12.5519 15.3725 12.7647 15.2412Z" fill="white"/>
									</svg>
							li
								a(href="#" target="_blank")
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
										<rect x="0.3125" width="30" height="30" rx="15" fill="#484848"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M12.3125 9C10.6556 9 9.3125 10.3431 9.3125 12V18C9.3125 19.6569 10.6556 21 12.3125 21H18.3125C19.9694 21 21.3125 19.6569 21.3125 18V12C21.3125 10.3431 19.9694 9 18.3125 9H12.3125ZM17.3125 12.0002C17.3125 11.448 17.7602 11.0002 18.3125 11.0002C18.8648 11.0002 19.3125 11.448 19.3125 12.0002C19.3125 12.5525 18.8648 13.0002 18.3125 13.0002C17.7602 13.0002 17.3125 12.5525 17.3125 12.0002ZM12.9121 15.0006C12.9121 13.6751 13.9866 12.6006 15.3121 12.6006C16.6376 12.6006 17.7121 13.6751 17.7121 15.0006C17.7121 16.3261 16.6376 17.4006 15.3121 17.4006C13.9866 17.4006 12.9121 16.3261 12.9121 15.0006Z" fill="white"/>
									</svg>
							li
								a(href="#" target="_blank")
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
										<rect x="0.3125" width="30" height="30" rx="15" fill="#484848"/>
										<path d="M20.3811 10.208C20.2799 10.1556 20.1813 10.0983 20.0858 10.0361C19.8081 9.8525 19.5535 9.63617 19.3275 9.39176C18.7619 8.7446 18.5507 8.08807 18.4728 7.62841H18.476C18.411 7.24686 18.4379 7 18.4419 7H15.8659V16.9614C15.8659 17.0951 15.8659 17.2273 15.8603 17.3579C15.8603 17.3742 15.8587 17.3892 15.8578 17.4067C15.8578 17.4139 15.8578 17.4214 15.8562 17.4289C15.8562 17.4307 15.8562 17.4326 15.8562 17.4345C15.8291 17.7919 15.7145 18.1372 15.5226 18.4399C15.3307 18.7426 15.0674 18.9936 14.7557 19.1706C14.4309 19.3554 14.0636 19.4524 13.6899 19.4519C12.4897 19.4519 11.517 18.4732 11.517 17.2645C11.517 16.0558 12.4897 15.0771 13.6899 15.0771C13.9171 15.0769 14.1429 15.1126 14.3589 15.183L14.362 12.56C13.7062 12.4753 13.04 12.5274 12.4054 12.7131C11.7708 12.8988 11.1816 13.2139 10.6749 13.6387C10.2309 14.0245 9.8576 14.4848 9.57185 14.999C9.46311 15.1865 9.05284 15.9399 9.00316 17.1626C8.97191 17.8566 9.18033 18.5757 9.27969 18.8728V18.8791C9.34219 19.0541 9.58435 19.6512 9.979 20.1547C10.2972 20.5585 10.6732 20.9132 11.0948 21.2074V21.2012L11.1011 21.2074C12.3481 22.0549 13.7308 21.9993 13.7308 21.9993C13.9702 21.9896 14.772 21.9993 15.6825 21.5677C16.6924 21.0893 17.2673 20.3765 17.2673 20.3765C17.6346 19.9506 17.9267 19.4653 18.131 18.9413C18.3641 18.3285 18.4419 17.5935 18.4419 17.2998V12.0151C18.4732 12.0338 18.8894 12.3091 18.8894 12.3091C18.8894 12.3091 19.489 12.6935 20.4245 12.9438C21.0957 13.1219 22 13.1594 22 13.1594V10.602C21.6832 10.6364 21.0398 10.5364 20.3811 10.208Z" fill="#F8F8F8"/>
									</svg>			
	.container
		.footer__bottom
			.footer__bottom-inner
				.footer__bottom-copy 2023 © Roast.by — магазин свежего кофе! Общество с ограниченной ответственностью «ИммаСтар Компани» УНП 191334329 зарегистрирован 22.10.2010 Минским горисполкомом 223237, Минская обл., Червенский р-н, Валевачский с/с, а/г Черноградь, ул. Молодежная, 6, п. 2 Торговый реестр № 565900 от 11.10.2023
				ul.footer__bottom-pays
					each i in [1,3,2,4,5,6,7,7,9]
						li
							+lazy-img({
								img: `pays/pay-${i}.png`
							})
							//- +icon('i-tiktok')(style="width:30px;height:30px") 